*.mp4
*.jpg
*.txt
!requirements.txt
*.png
*.cache
*.pt
venv
*.pyc
events.*
*.zip
*.pth
ObjectDetection/Training/Results
Housing/Dimensions
Data/SnapshotKgalagadi
Data/Classification
Classification/Results
!ObjectDetection/Yolo/example_detections/video_0.mp4
!ObjectDetection/Yolo/example_detections/video_1.mp4
!ObjectDetection/Yolo/example_detections/video_2.mp4
!ObjectDetection/Yolo/example_detections/video_3.mp4
!ObjectDetection/Yolo/example_detections/video_4.mp4
!ObjectDetection/Yolo/example_detections/video_5.mp4