*.mp4
*.jpg
*.txt
!requirements.txt
*.png
*.cache
*.pt
venv
*.pyc
events.*
*.zip
*.pth
ObjectDetection/Training/Results
Housing/Dimensions
Data/SnapshotKgalagadi
Data/Classification
Classification/Results